* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: burlywood;
  padding: 10px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.background {
  padding: 10px;
}

.manage-items-box {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-bar {
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.add-form {
  display: flex;
  gap: 20px;
}

.add-form input {
  width: 735px;
  padding: 10px;
  border-radius: 5px
}

table tr td {
  padding: 10px;
  border: 1px solid #ccc;
}

table {
  border-collapse: collapse;
}

.group-btn {
  display: flex;
  gap: 10px;
}

button {
  padding: 5px;
}

.add-form {
  display: flex;
  gap: 15px;
}

.add-form button {
  height: 100%;
  padding: 10px;
  border-radius: 5px;
}

.form-add {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-add input {
  padding: 10px;
}